<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-styles/color.html">

<link rel="import" href="../montecarlo-drawing-area/montecarlo-drawing-area.html">

<dom-module id="montecarlo-pi">
  <template>
    <style include="iron-flex iron-flex-alignment">
      canvas {
        border: 1px solid black;
      }
    </style>
    
    <paper-card heading="[[title]]" class="onboarding-card">
      <div class="card-content">
        <montecarlo-drawing-area id="drawingArea">
        </montecarlo-drawing-area>
      </div>

      <div class="card-actions">
        <template is="dom-if" if="[[showStats]]">
          <div class="container layout horizontal">
            <table>
              <thead>
                <tr>
                  <th>Subject</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>

                <tr>
                  <td>Total Points</td>
                  <td>[[totalPoints]]</td>
                </tr>

                <tr>
                  <td>Points inside</td>
                  <td>[[insidePoints]]</td>
                </tr>

                <tr>
                  <td>Aprox. PI</td>
                  <td>[[piValue]]</td>
                </tr>

              </tbody>
            </table>
          </div>
        </template>
      </div>
    </paper-card>
    
  </template>
  <script type="text/javascript" src="montecarlo-pi.js"></script>
</dom-module>