<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id="montecarlo-drawing-area">
  <template>
    <style include="iron-flex iron-flex-alignment">
      canvas {
        border: 1px solid black;
      }
    </style>

    <canvas width="200" height="200"></canvas>      
    
  </template>
  <script type="text/javascript" src="montecarlo-drawing-area.js"></script>
</dom-module>
