<link rel="import" href="../bower_components/polymer/polymer.html">

<link rel="import" href="../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="../montecarlo-pi/montecarlo-pi.html">

<dom-module id="montecarlo-pi-page">
  <template>
    <style include="iron-flex iron-flex-alignment">
      paper-button.indigo {
        background-color: var(--paper-indigo-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      paper-button.indigo:hover {
        background-color: var(--paper-indigo-400);
      }
      
      paper-button.green {
        background-color: var(--paper-green-500);
        color: white;
        --paper-button-raised-keyboard-focus: {
          background-color: var(--paper-pink-a200) !important;
          color: white !important;
        };
      }

      paper-button.green:hover {
        background-color: var(--paper-green-400);
      }

    </style>

    <div>
      <montecarlo-pi id="experimentLab" title="Lab" show-stats="{{showStats}}" points="{{points}}"></montecarlo-pi>
      <montecarlo-pi id="copyLab" title="Copy" show-stats points="[[copyPoints]]"></montecarlo-pi>
      <montecarlo-pi id="fasterLab" title="Faster" show-stats></montecarlo-pi>
    </div>

    <paper-button class="green" toggles raised on-tap="onStartTapped_">[[playButtonLabel]]</paper-button>
    <paper-button class="indigo" toggles on-tap="onStatsTapped_">STATS</paper-button>
    <paper-button class="" toggles on-tap="onCopyTapped_">COPY</paper-button>
    <paper-button class="" toggles on-tap="onClearTapped_">CLEAR</paper-button>
  </template>
  <script type="text/javascript" src="montecarlo-pi-page.js"></script>
</dom-module>